html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  display: block;
  color: black;
}

.list {
  list-style: none;
}

.logo {
  background-color: uppercase;
}

.main-btn,
.modal-form-btn {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  cursor: pointer;
  color: red;
  transition: background-color 250ms linear, color 250ms linear;
}

.main-btn:hover,
.modal-form-btn:hover,
.main-btn:focus,
.modal-form-btn:focus {
  transform: scale(1.15);
  transition: 250ms linear;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*--main--*/

.main-section {
  position: relative;
}

.main-photo {
  width: 100%;
}

.main-title {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-text {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.main-btn:hover,
.modal-form-btn:hover,
.main-btn:focus,
.modal-form-btn:focus {
  background-color: #ff6c00;
  color: #fff;
}

/*------ about-us ------ */

.about-title {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 30px;
}

.about-us-title {
  text-align: center;
  margin-bottom: 20px;
}

.about-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.about-list-item:hover .overlay {
  transform: translateY(0);
  opacity: 1;
  transition: 400ms linear;
}

.about-us-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0px;
  opacity: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 64px;
  padding-bottom: 64px;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: rgba(250, 150, 50, 0.9);
  color: #fff;
}

/*------ Contact ------ */

.contacts-section {
  padding-bottom: 30px;
}

.svg-info {
  display: flex;
  margin-left: 30px;
}

.svg-info:not(:last-child) {
  margin-bottom: 10px;
}

.prezes {
  margin-left: 10px;
}

/*------ footer ------ */

.footer {
  background-color: #ff8c00;
  color: #fff;
}

.footer-information-dev {
  color: #fff;
}

.footer-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-information {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.footer-information-dev {
  margin-left: 5px;
}

/*------ Modal Window ------ */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.modal-form {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 50px;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.modal-form-title {
  margin-bottom: 40px;
  text-align: center;
  color: #ff6c00;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.modal-form-message {
  margin-bottom: 40px;
  height: 60px;
  resize: none;
}

.modal-form-message:focus::placeholder {
  color: #ff6c00;
}

.modal-form-input:focus,
.modal-form-message:focus,
.modal-form-input:not(:placeholder-shown),
.modal-form-message:not(:placeholder-shown) {
  outline: none;
  border-bottom-color: #ff6c00;
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: transform 250ms linear;
}

.modal-form-input {
  height: 30px;
}

.modal-form-input,
.modal-form-message {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  transform: translateY(-30px);
  color: #ff6c00;
}

.modal-form-option-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-option-span {
  font-size: 15px;
  margin-left: 10px;
}

.modal-form-option-span a {
  color: #3498db;
}

.modal-form-checkbox:checked + .modal-form-option-span {
  text-decoration: underline;
}

.modal-form-btn {
  color: #000;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modal-close-btn:hover {
  fill: #ff6c00;
  transition: 250ms linear;
}

@media screen and (max-width: 768px) {
  /*---header---*/

  .header {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff6c00;
    width: 100%;
    height: 796px;
    padding-top: 118px;
    padding-bottom: 227px;
    padding-left: 40px;
    padding-right: 40px;

    transform: translateY(-100%);
    transition: transform 500ms linear;
  }

  .menu-wrapper.is-open {
    transform: translateY(0);
    z-index: 99;
  }

  .navigation-list-item {
    margin-bottom: 20px;
  }

  .navigation-list-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.389;
    letter-spacing: 0.1em;
  }

  .menu-btn {
    position: relative;
    background-color: transparent;
    border: none;
    z-index: 100;
  }

  .menu-btn.is-open .icon-burger {
    display: none;
  }

  .menu-btn.is-open .icon-close {
    display: block;
  }

  .icon-close {
    display: none;
  }

  .menu-btn-position {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .btn-hidden {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 12px;
  }

  /*---main---*/

  /* .main-title {
    margin: 0 auto;
  } */

  .main-title-text {
    letter-spacing: 0.05em;
    font-size: 20px;
  }

  .main-btn {
    letter-spacing: 0.05em;
    font-size: 12px;
  }
}

@media screen and (min-width: 769px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  /*------ heder ------ */

  .navigation {
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }

  .menu-btn,
  .btn-hidden {
    display: none;
  }

  .navigation,
  .navigation-list {
    display: flex;
  }

  .navigation-list-link:hover {
    color: #ff6c00;
    transform: scale(1.15);
    transition: 250ms linear;
  }

  .navigation-list-item:not(:last-child) {
    margin-right: 20px;
  }

  .change-lang {
    width: 50px;
    height: 25px;
    border-radius: 15%;
    margin-left: 130px;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
  }

  /*------ main ------ */

  .main-title-text {
    letter-spacing: 0.09em;
    font-size: 40px;
  }

  /*------ about-us ------ */

  .about-list {
    display: flex;
    justify-content: space-around;
  }
}
